.App {
  color: white;
}

.sheet-music {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.instructions {
  color: black;
  text-align: center;
  font-size: 300%;
}
