.sheet-music {
    width: 90vw;
}

.sheet-music-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.description {
    color: black;
    text-align: left;
    font-size: 300%;
}

.next-button {
    font-size: 500%;
    border-radius: 1pc;
}
